@model IEnumerable<CourseManagementSystem.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>

                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" class="text-dark text-decoration-none">
                    @Html.DisplayNameFor(model =>
                    model.StudentName) 
                    <i class="fa-sharp fa-solid fa-angle-down"></i>
                </a>

            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" class="text-dark text-decoration-none">
                    @Html.DisplayNameFor(model =>
                    model.EnrollmentDate)
                    <i class="fa-sharp fa-solid fa-angle-down"></i>
                </a>

            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
